.nav-bar{
  background-color: #333;
  height:40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav-bar a{
  min-width: 50px;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}
a.active{
  background-color: yellow;
  color: #333;
}