.navbar{
    padding: 10px 20px;
    border-bottom: 1px solid #bcbcbc;
}

.navbar a{
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    padding: 2px 8px;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3 ease;
}

.navbar a:hover{
    background-color: #10101072;
}
.navbar a.active{
    background-color: #101010;
    color: #ffe400;
}

.container{
    height: 200px;
    display: flex;
    background-color: #ffe400;

    .gun{
        height: 50px;
        width: 20px;
        background-color: #333;
    }
    .bullet{
        width: 40px;
        height: 20px;
        background-color: #ff1e00;
    }
    .count{
        font-size: 40px;
        font-weight: 600;
    }

}